.App {
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 144px;
  max-width: 706px;
  margin: 0 auto;
}
