.Links {
  width: 70%;
  text-align: left;
  margin-left: auto;
  margin-right: 48px;
  display: flex;
}

.Link-pair {
  flex: 1;
}

.Link {
  display: flex;
}

img {
  max-width: 20px;
  max-height: 20px;
  align-self: center;
  padding-right: 16px;
}

img.Location {
  max-width: 14px;
  padding-right: 20px;
}

a,
p {
  font-family: "Space Mono", monospace;
  font-size: 15px;
  line-height: 25px;
  color: var(--third-color);
  margin: 15px 0;
}

.unavailable {
  color: var(--secondary-color);
}
