.Profile {
  text-align: left;
  margin-left: auto;
  margin-right: 48px;
  padding: 0 32px;
}

.PrimaryInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Avatar {
  padding-right: 20px;
}

.Username {
  flex: 2;
}

.Joined {
  flex: 2;
  text-align: right;
  padding-top: 8px;
}

.PrimaryInfo p {
  align-self: center;
  margin-bottom: 0;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
}

#avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}
